.listCarForm
{
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.listCarFormContainer
{
    width: 100%;
    max-width: calc(100vw - 120px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-evenly;
    gap: 20px;
}

.listCarFormIntro
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listCarFormIntro span
{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--black-color5);
}

.listCarFormIntro h1
{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.listCarFormIntro p
{
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.listCarDetails
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listCarHeader
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.listCarHeaderItem
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 6px solid var(--lighter-color2);
    padding-right: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.listCarHeaderItem.active
{
    border-color: var(--theme-color4);
}

.listCarHeaderItem .step
{
    height: 33px;
    width: 33px;
    border: 4px solid var(--theme-color4);
    color: var(--theme-color4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
}

.listCarHeaderItem.active .step
{
    background-color: var(--theme-color4);
    color: var(--white-color);
}

.listCarHeaderItem h3
{
    text-transform: uppercase;
    font-weight: 900;
    color: var(--black-color4);
}

.listCarHeaderItem .desc
{
    font-size: 14px;
    font-weight: 500;
    color: var(--lighter-color4);
}