.carCard
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 0.035em solid var(--lighter-color);
    justify-content: center;
}

.carCard .carLink
{
    text-decoration: none;
}

.carCard:hover
{
    cursor: pointer;
    transition: 0.3s;
    border-color: var(--lighter-color);
    margin-top: -5px;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.carCardHeader
{
    width: 100%;
    height: 200px;
    position: relative;
}

.carCardHeader img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carCardHeader span
{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--theme-color2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}

.carCardHeader span i
{
    font-size: larger;
}

.carCardBody
{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carTitle
{
    text-transform: capitalize;
}

.carRentalRates
{
    display: flex;
    gap: 30px;
}

.carRentalRates span
{
    font-size: 15px;
    color: var(--theme-color1);
}

.carRentalRates span em
{
    font-size: 11px;
    color: var(--black-color2);
    font-style: normal;
}

.carRating 
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
}

.carRating .ratedStars
{
    display: flex;
    align-items: center;
    gap: 2px;
}

.carRating .ratedStars i
{
    font-size: larger;
    color: var(--theme-color7);
}

.reviewCarCount
{
    font-size: 100;
    color: var(--lighter-color6);
    font-size: 13px;
}

.rentCarBtn span
{
    padding: 5px 15px;
    background-color: var(--theme-color2);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    -webkit-transition: background 1s; 
    transition: background 1s;
    cursor: pointer;
}

.rentCarBtn span:hover
{
    background-color: var(--theme-color4);
}