.exploreRecommendedCars
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.exploreRecommendedHeader
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.exploreRecommendedHeader span
{
    font-size: 16px;
    font-weight: 600;
    color: var(--black-color8);
}

.exploreRecommendedHeaderDiv
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.exploreRecommendedHeader h1
{
    font-size: 40px;
    font-weight: 300;
}

.exploreRecommendedItemsNavs
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.exploreRecommendedItemsNavs .NavItem
{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
    cursor: pointer;
    color: var(--white-color);
}

.exploreRecommendedBody
{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}