.exploreRecommendedCars
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.exploreRecommendedHeader
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.exploreRecommendedHeader span
{
    font-size: 16px;
    font-weight: 600;
    color: var(--black-color8);
}

.exploreRecommendedHeader h1
{
    font-size: 40px;
    font-weight: 300;
}

.exploreRecommendedBody
{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}