.section
{
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
}

.sectionContainer
{
    width: 100%;
    margin-top: 40px;
    min-width: calc(100vw - 120px);
    max-width: calc(100vw - 120px);
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sectionImage
{
    flex: 1;
    width: 100%;
    height: 400px;
}

.sectionImage img
{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.sectionDesc
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sectionDesc .sectionDescTitle h3
{
    font-size: 32px;
    font-weight: 900;
}

.sectionDesc .sectionDescIntro p
{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--black-color7);
}

.sectionDesc .sectionDescBtn
{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.sectionDesc .sectionDescBtn span
{
    padding: 10px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
    color: var(--white-color);
    cursor: pointer;
}

.sectionDesc .sectionDescBtn span:hover
{
    background-color: var(--theme-color1);
}

@media (max-width: 480px) 
{

    .sectionContainer
    {
        padding-top: 0;
        width: 100%;
        max-width: calc(100vw - 40px);
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }

}

@media (max-width : 768px) 
{

    .sectionContainer
    {
        display: flex;
        justify-content: center;
        margin: 40px;
        padding-top: 0;
        width: 100%;
        max-width: calc(100vw - 40px);
    }
}