.header
{
    /*background-color: var(--theme-color1);*/
    display: flex;
    justify-content: center;
    /*background-image: url("images/header/background.jpeg");*/
}

.headerContainer
{
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    min-width: calc(100vw - 120px);
    max-width: calc(100vw - 120px);
    position: relative;
}

.headerContainer.p-b-full
{
    height: 100vh;
}

.headerContainer.p-b-50
{
    padding-bottom: 50px;
}

.headerSearch
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto 0;
    width: 450px;
}

.headerSearch .headerSearchContainer
{
    border-radius: 10px;
    background-color: var(--white-color);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headerSearch .headerSearchContainer .headerTitle
{
    color: var(--black-color2);
    text-transform: uppercase;
}

.headerSearchContainer .headerDesc
{
    color: var(--lighter-color6);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
}

.headerSearchContainer .headerPickUpLocation,
.headerSearchContainer .headerCarBrand
{
    display: flex;
    align-items: center;
    background-color: var(--lighter-color);
    padding-left: 10px;
    position: relative;
}

.headerSearchContainer .headerPickUpDate,
.headerSearchContainer .headerDropDate
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headerSearchContainer .headerPickUpDate label,
.headerSearchContainer .headerDropDate label
{
    font-size: 14px;
    font-weight: 600;
    color: var(--theme-color2);
}

.headerPickUpLocation i,
.headerCarBrand i,
.headerPickUpDate i,
.headerDropDate i
{
    font-size: 26px;
}

.headerPickUpLocation input,
.headerPickUpDate input,
.headerDropDate input,
.headerCarBrand select
{
    border: none;
    box-shadow: none;
    padding: 10px;
    background-color: var(--lighter-color);
    padding-left: 20px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
}

.headerPickUpLocation input:focus,
.headerCarBrand select:focus,
.headerPickUpDate input:focus,
.headerDropDate input:focus
{
    border: none;
    outline: none;
    box-shadow: none;
}

.headerDates
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.headerButton
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-color);
    color: var(--white-color);
    cursor: pointer;
    padding: 10px;
    -webkit-transition: background 1s; 
    transition: background 1s;
}

.headerButton:hover
{
    background-color: var(--theme-color4);
}

.headerButton span
{
    font-size: 16px;
    font-weight: 500;
}

