.featuredBrandCard
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 0.15em solid var(--lighter-color);
    border-radius: 10px;
}

.featuredBrandLogo
{
    width: 350px;
    height: 100%;
}

.featuredBrandLogo img
{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.featuredBrandTitle h3
{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.featuredBrandButton span
{
    padding: 10px 25px;
    border-radius: 25px;
    background-color: var(--theme-color2);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 700;
}