.featuredBrandCard
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 0.15em solid var(--lighter-color);
    border-radius: 10px;
}

.featuredBrandCard:hover
{
    cursor: pointer;
    transition: 0.3s;
    border-color: var(--theme-color1);
    margin-top: -15px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.featuredBrandLogo
{
    width: 100px;
    height: 100px;
}

.featuredBrandLogo img
{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.featuredBrandTitle h3
{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.featuredBrandButton span
{
    padding: 10px 25px;
    border-radius: 25px;
    background-color: var(--theme-color2);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 700;
}