.exploreCars
{
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.exploreCarsContainer
{
    width: 100%;
    min-width: calc(100vw - 120px);
    max-width: calc(100vw - 120px);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exploreCarsHeader
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.exploreCarsTitle
{
    font-size: 40px;
    font-weight: bolder;
}

.exploreCarsFilters
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.input-filter
{
    padding: 5px 10px;
    border: 0.015em solid var(--light-color);
}

.input-filter input,
.input-filter select
{
    border: none;
    box-shadow: none;
    padding: 7px;
    font-size: 17px;
    font-weight: 300;
}

.input-filter input:hover,
.input-filter select:hover,
.input-filter input:focus,
.input-filter select:focus
{
    outline: none;
    border: none;
    box-shadow: none;
}

.input-filter.location
{
    display: flex;
    align-items: center;
}

.input-filter.location i
{
    font-size: 26px;
}

.exploreCarsFilterItem.rental-frequency
{
    display: flex;
    align-items: center;
    gap: 0;
    padding: 0;
}

.exploreCarsFilterItem.rental-frequency span
{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    background-color: var(--lighter-color);
    cursor: pointer;
}

.exploreCarsFilterItem.rental-frequency span.active
{
    background-color: var(--theme-color1);
    color: var(--white-color);
}

.searchBtn
{
    padding: 10px;
    background-color: var(--theme-color2);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transition: background 1s; 
    transition: background 1s;
    cursor: pointer;
}

.searchBtn:hover
{
    background-color: var(--theme-color4);
}

.exploreCarsBody
{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.exploreRecommendedCars
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.exploreRecommendedHeader
{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.exploreRecommendedHeader span
{
    font-size: 16px;
    font-weight: 600;
    color: var(--black-color8);
}

.exploreRecommendedHeader h1
{
    font-size: 40px;
    font-weight: 300;
}

.exploreRecommendedBody
{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}
