.navbar
{
    width: 100%;
    height: 70px;
    background-color: var(--white-color);
    /*border-bottom: 1px solid var(--light-color);*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.navContainer
{
    width: 100%;
    max-width: calc(100vw - 120px);
    color: var(--black-color1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

.navContainer .navLink
{
    text-decoration: none;
    color: var(--theme-color);
    letter-spacing: 0.1em;
    font-weight: 900;
}

.navTitle
{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navLinks
{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navLinks a
{
    text-decoration: none;
    color: var(--black-color1);
}

.navLinks span
{
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 0.15em solid var(--white-color);
}

.navLinks span:hover
{
    color: var(--theme-color1);
}

.navLinks span.active
{
    color: var(--theme-color1);
    border-color: var(--theme-color1);
}