.navbar
{
    width: 100%;
    height: 70px;
    background-color: var(--white-color);
    /*border-bottom: 1px solid var(--light-color);*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.navContainer
{
    width: 100%;
    max-width: calc(100vw - 120px);
    color: var(--black-color1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

.navContainer .navLink
{
    text-decoration: none;
    color: var(--theme-color);
    letter-spacing: 0.1em;
    font-weight: 900;
}

.navTitle
{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navTitle h1
{
    font-size: 30px;
    font-weight: bolder;
}

.navLinks
{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navLinks a
{
    text-decoration: none;
    color: var(--black-color1);
}

.navLinks span
{
    font-weight: 600;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 0.15em solid var(--white-color);
}

.navLinks span:hover
{
    color: var(--theme-color1);
}

.navLinks span.active
{
    color: var(--theme-color1);
    border-color: var(--theme-color1);
}

.navbarMenu
{
    position: relative;
}

.navbarMenu .loginBtn
{
    padding: 10px;
    border-radius: 10px;
    border: 0.09em solid var(--white-color);
}

.navbarMenu .loginBtn:hover
{
    border-color: var(--theme-color4);
}

.navbarMenu .navbarMenuItems
{
    position: absolute;
    top: 60px;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 170px;
}

.navbarMenu .navbarMenuItems .navbarMenuItem span
{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.userProfile
{
    border-radius: 25px;
    padding: 0 10px;
    border: 0.0125em solid var(--light-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.userProfile img
{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.userProfile i
{
    font-size: 24px;
}

@media (max-width: 480px) 
{
    .navContainer
    {
        padding-top: 0;
        width: 100%;
        max-width: calc(100vw - 40px);
    } 

    .navLinks .navLink
    {
        display: none;
    }

}

@media (max-width : 768px) 
{
    .navContainer
    {
        padding-top: 0;
        width: 100%;
        max-width: calc(100vw - 40px);
    }

    .navLinks .navLink
    {
        display: none;
    }
}