.photoModalCard
{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.500);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow: hidden;
}

.photoModalCardContainer
{
    width: 500px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.photoModalCardHeader
{
    border-bottom: 1px solid var(--light-color);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photoModalCardBtn
{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.photoModalCardBtn i
{
    font-size: 23px;
}

.photoModalCardTitle
{
    font-size: 16px;
    font-weight: 600;
}

.photoModalCardBody
{
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.photoModalCardBody .cropperContainer
{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: var(--lighter-color2);
}